.photospheres-preview{
  position: absolute;
  padding: 10px 15px;
  border-radius: 0 20px 20px 20px;
  border-style: solid;
  border-color: white;
  box-sizing: border-box;
  pointer-events: none;
  color: white;
}

.photospheres-flipped-up {
  border-radius: 20px 20px 20px 0 !important;
}

.photospheres-flipped-left {
  border-radius: 20px 0 20px 20px !important;
}

.photospheres-flipped-up-left {
  border-radius: 20px 20px 0 20px !important;
}